<form>
<div class="form-row">
     <div class="form-group col required">
        <label for="brakeSupplierName">Supplier Name</label>
         <select type="text" id="brakeSupplierName" name="brakeSupplierName" class="form-control" required="required">
             <option value ="" selected disabled>Choose One</option>
             {{#each values.supplier}}
                <option value="{{this.id}}">{{this.name}}</option>
             {{/each}}       
        </select>
    </div>
    <div class="form-group col">
        <label for="brakePlate">Vehicle Information</label>
        <input list="brakePlate" id="brakePlateValue" name="brakePlate" placeholder="Select Vehicle" class="form-control" onChange="setVehicleInfo('brake')" required>
            <datalist id="brakePlate">
                {{#each vehicles}}
                    <option value="{{this.vehicleData}}" data-value="{{this.plate.plate}}"></option>
                {{/each}}
            </datalist>
            <input type="text" id="realPlateValue" name="realPlateValue" class="form-control" hidden>
        </div>
</div>
<div class="form-row">
    <div class="form-group col required">
        <label for="brakeCategory">Vehicle Category</label>
        <select type="text" name="brakeCategory" id ="brakeCategory"  class="form-control" disabled required="required">
            <option value="" selected disabled></option>
                {{#each vehicles}}
                    <option value="{{this.plate.plate}}">{{this.plate.category}}</option>
                {{/each}}
                             
        </select>
    </div>
    <div class="form-group col required">
        <label for="brakeCBrand">Vehicle Brand</label>
         <select type="text" id="brakeCBrand"  name="brakeCBrand" class="form-control" disabled required="required">
           <option value="" selected disabled></option>
            {{#each vehicles}}
                <option value="{{this.plate.plate}}">{{this.plate.brand}}</option>
            {{/each}}
        </select>
    </div>
</div>
<div class="form-row">
    <div class="form-group col required">
        <label for="brakeCModel">Vehicle Model</label>
         <select type = "text" id="brakeCModel"  name="brakeCModel" class="form-control" disabled required="required">
            <option value="" selected disabled></option>
            {{#each vehicles}}
                <option value="{{this.plate.plate}}">{{this.plate.model}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group col required">
        <label for="brakeCYear">Vehicle Year</label>
         <select type="text"  id="brakeCYear" name="brakeCYear" class="form-control" disabled required="required">
            <option value="" selected disabled></option>
            {{#each vehicles}}
                <option value="{{this.plate.plate}}">{{this.plate.year}}</option>
            {{/each}}
        </select>

    </div>
    <div class="form-group col required" style="display: none;">
        <label for="brakeChassis">Car Chassis</label>
         <select type="text" id="brakeChassis"  name="brakeChassis" class="form-control" disabled required="required">
             <option value="" selected disabled></option>
            {{#each vehicles}}
                <option value="{{this.plate.plate}}">{{this.plate.chassis}}</option>
            {{/each}}
        </select>
    </div>
</div>
<div class="form-row">
    <div class="form-group col required">
        <label for="brakeBrand">Brake Brand</label>
         <input list="brakeBrand"  name="brakeBrand" class="form-control" required="required">
         <datalist id="brakeBrand">
            {{#each values.brakes.brakeBrand}}
                <option value="{{this}}">{{this.bBrand}}</option>
            {{/each}}
        </datalist>
    </div>
    <div class="form-group col required">
        <label for="brakePBrand">Preferred Brand</label>
         <input list="brakePBrand"  name="brakePBrand" class="form-control" required="required">
         <datalist id="brakePBrand">
            {{#each values.brakes.brakePBrand}}
                <option value="{{this}}">{{this.preferredBrand}}</option>
            {{/each}}
        </datalist>
    </div>
</div>
<div class="form-row">
    <div class="for-group col required">
        <label for="brakeBillPrice" >Total Price (VAT)</label>
        <input type="number" placeholder = "0" id="brakeBillPrice" name="brakeBillPrice" class="form-control" step="0.01" required="required" onchange="getUnitPrice('brakeBillPrice', 'quantityBrakes', 'brakePrice')">
    </div>
    <div class="form-group col required">
        <label for="quantityBrakes">Quantity</label>
         <input type="number" id="quantityBrakes" name="quantityBrakes" class="form-control" required="required" onchange="getUnitPrice('brakeBillPrice', 'quantityBrakes', 'brakePrice')">
    </div>
    <div class="form-group col required">
        <label for="brakePrice">Price Per Box</label>
         <input type="number" placeholder = "0" id="brakePrice" name="brakePrice" class="form-control" step="0.01" required="required" readonly>
         
    </div>
    <div class="form-group col required">
        <label for="minQuantityBrakes">Minimum Quantity</label>
         <input type="number" id="minQuantityBrakes" name="minQuantityBrakes" class="form-control" required="required">  
    </div>
</div>

<div class="form-row">
    <div class="form-group col">
        <label for="quotation">Invoice Number</label>
        <input type="text" placeholder = "0" id="quotation" name="quotation" class="form-control">
    </div>
    <div class="form-group col">
        <label for="quotation">Select a File</label>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="upload" name="upload" accept="application/pdf, application/pdf">
            <label for="upload" class="custom-file-label">No File Choosen</label>
        </div>
    </div>
</div>
</form>
                    