<div class="form-row">
    <div class="form-group col required">
        <label for="filterSupplierName">Supplier Name</label>
         <select type="text" id="filterSupplierName" name="filterSupplierName" class="form-control" required="required">
             {{#each values.supplier}}
                <option value="{{this.id}}">{{this.name}}</option>
             {{/each}}       
        </select>
    </div>
    <div class="form-group col required">
        <label for="filterType">Filter Type</label>
         <input list="filterType"  name="filterType" class="form-control" required>
         <datalist id="filterType">
             {{#each values.filters.filterType}}
                 <option value="{{this}}"></option>
             {{/each}}
        </datalist>
    </div>
    <div class="form-group col required">
        <label for="category">Vehicle Category</label>
        <input list="vehicleCategory" name="vehicleCategory" class="form-control" required>
        <datalist id="vehicleCategory">
            {{#each values.filters.carCategory}}
                <option value="{{this}}"></option>
            {{/each}}
        </datalist>
    </div>
</div>
<div class="form-row">
    <div class="form-group col required">
        <label for="filterABrand">Actual Filter Brand</label>
         <input list="filterABrand"  name="filterABrand" class="form-control" required>
         <datalist id="filterABrand">
             {{#each values.filters.actualBrand}}
                 <option value="{{this}}"></option>
             {{/each}}
        </datalist>
    </div>
    <div class="form-group col required">
        <label for="filterPBrand">Preferred Filter Brand</label>
        <input list="filterPBrand" name="filterPBrand" class="form-control" required>
        <datalist id="filterPBrand">
            {{#each values.filters.preferredBrand}}
                <option value="{{this}}"></option>
            {{/each}}
        </datalist>
    </div>
</div>
<div class="form-row">
    <div class="form-group col required">
        <label for="filterCarBrand">Vehicle Brand</label>
        <input list="filterCarBrand" name="filterCarBrand" class="form-control" required>
        <datalist id="filterCarBrand">
            {{#each values.filters.carBrand}}
                <option value="{{this}}"></option>
            {{/each}}
        </datalist>
    </div>
    <div class="form-group col required">
        <label for="filterCarModel">Vehicle Model</label>
        <input list="filterCarModel" name="filterCarModel" class="form-control" required>
        <datalist id="filterCarModel">
            {{#each values.filters.carModel}}
                <option value="{{this}}"></option>
            {{/each}}
        </datalist>
    </div>
   
</div>
<div class="form-row">
     <div class="form-group col required">
        <label for="filterCarYear">Vehicle Year</label>
        <input list="filterCarYear" name="filterCarYear" class="form-control" required>
        <datalist id="filterCarYear">
            {{#each values.filters.carYear}}
                <option value="{{this}}"></option>
            {{/each}}
        </datalist>
    </div>
    <div class="form-group col required">
        <label for="filterChassis">Car Chassis</label>
         <input list="filterChassis"  name="filterChassis" class="form-control" required="required">
         <datalist id="filterChassis">
            {{#each values.brakes.brakeCChassis}}
                <option value="{{this}}">{{this.chassis}}</option>
            {{/each}}
        </datalist>
    </div>
</div>
<div class="form-row">
    <div class="form-group col required">
        <label for="quantityFilters">Filter Quantity</label>
        <input type="number" id="quantityFilters" name="quantityFilters" class="form-control" required>
    </div>
    <div class="form-group col required">
        <label for="minFilterQuantity">Filter Minimum Quantity</label>
        <input type="number" id="minFilterQuantity" name="minFilterQuantity" class="form-control" required>
    </div>
    <div class="form-group col required">
        <label for="filterPrice">Filter Price Per Item</label>
        <input type="number" id="filterPrice" name="filterPrice" class="form-control" step="0.01" required>
    </div>
</div>
<div class="form-row">
    <div class="form-group col">
        <label for="quotation">Quotation Number</label>
        <input type="text" placeholder = "0" id="quotation" name="quotation" class="form-control">
    </div>
    <div class="form-group col">
        <label for="quotation">Select a File</label>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="upload" name="upload" accept="application/pdf, application/pdf">
            <label for="upload" class="custom-file-label">No File Choosen</label>
        </div>
    </div>
</div>
                    