<div class="col-md-12">
    <table id="filterable-table" class="table table-bordered table-striped">
        <thead>
            
                {{#if (isdefined page "view")}}
                <tr>
                <th scope="col">#</th>
                <th scope="col">Battery Spec</th>
                <th scope="col">Quantity (Boxes)</th>
                <th scope="col">Supplier</th>
                <th scope="col">Action</th>
                </tr>
                {{else}}
                <tr>
                <th scope="col" rowspan="2">#</th>
                <th scope="col" rowspan="2">Battery Spec</th>
                <th scope="col" rowspan="2">Serial No.</th>
                <th scope="col" rowspan="2">Invoice No.</th>
                <th scope="col" colspan="2">Action</th>
                </tr>
                <tr>
                <td scope="col">Warantiy</td>
                <td scope="col">Invoice</td>
                </tr>
                {{/if}}
                

            
        </thead>
        <tbody>
            {{#if (isdefined page "view")}}
                {{#each consumables}}
                <tr>
                     <th>{{counter @index}}</th>
                    <td>{{this.batSpec}}</th>
                    <td>{{this.quantity}}</td>
                    <td><a href="/consumables/battery/{{this.supplierId}}">{{this.supplierName}}</a></td>
                    <td><a href="/consumables/battery/{{this.supplierId}}" style="padding-right: 25px;">View <i class="fas fa-external-link-alt"></i></a></td>

                </tr>
                {{/each}}
            {{/if}}

            {{#if (isdefined page "add")}}
                {{#each consumables}}
                <tr>
                    <th>{{counter @index}}</th>
                    <td>{{this.batSpec}}</th>
                    <td>{{this.serialNumber}}</td>
                    <td>{{this.quotationNumber}}</td>
                    <td class="table-actions">
                        <a href="warantiy/{{this.serialNumber}}" style="padding-right: 25px;"><i class="fas fa-download"></i></a>
                        {{#if (isdefined this.serialNumber "N/A")}}
                            <a href="/consumables/battery/viewWarantiy/NotAvilable"><i class="fas fa-external-link-alt"></i></a>
                        {{else}}
                            <a href="/consumables/battery/viewWarantiy/{{this.serialNumber}}"><i class="fas fa-external-link-alt"></i></a>
                        {{/if}}
                    </td>
                    <td class="table-actions">
                        <a href="download/{{this.quotationNumber}}" style="padding-right: 25px;"><i class="fas fa-download"></i></a>
                        {{#if (isdefined this.quotationNumber "N/A")}}
                            <a href="/consumables/battery/view/NotAvilable"><i class="fas fa-external-link-alt"></i></a>
                        {{else}}
                            <a href="/consumables/battery/view/{{this.quotationNumber}}"><i class="fas fa-external-link-alt"></i></a>
                        {{/if}}
                        
                    </td>
                </tr>
                {{/each}}
            {{/if}}
            
        </tbody>
    </table>
</div>

<script>
     function openPdf(fileNumber){
        if(fileNumber !== "N/A"){
            window.open(`/consumables/battery/view/${fileNumber}`)
        }
    }
    function addBatteryPost(id){
        console.log("In the battery");
        document.getElementById("tableBatteryQuantity-" + id).name = "newQuantity";
        document.getElementById("mainForm").action = "update-battery/add/" + id;
    }

     function deleteBatteryPost(id){
        if(confirm("Are you sure to delete this Battery?")){
            console.log("In the battery");
            document.getElementById("mainForm").method = "POST"
            document.getElementById("tableBatteryQuantity-" + id).name = "newQuantity";
            document.getElementById("mainForm").action = "update-battery/delet/" + id;
            
        }else{
            //document.getElementById("mainForm").method = "GET";
            document.getElementById("category").value = "Battery";
        }
        
    }
    
</script>