<div class="col-md-12">
    <table id="batteries-table" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Battery Spec</th>
                <th scope="col">Car Brand</th>
                <th scope="col">Car Year</th>
                <th scope="col">Quantity (Boxes)</th>
                
            </tr>
        </thead>
        <tbody>
            {{console consumables}}
            {{#if (isdefined page "view")}}
                {{#each consumables}}
                <tr>
                    <th>{{counter @index}}</th>
                    <td>{{this.batSpec}}</th>
                    <td>{{this.carBrand}}</td>
                    <td>{{this.carYear}}</td>
                    <td>{{this.quantity}}</td>
                </tr>
                {{/each}}
            {{/if}}

            {{#if (isdefined page "add")}}
                {{#each values.batteries.consumable}}
                <tr>
                    <th>{{counter @index}}</th>
                    <td>{{this.batSpec}}</th>
                    <td>{{this.carBrand}}</td>
                    <td>{{this.carYear}}</td>
                    <td>{{this.quantity}}</td>
                </tr>
                {{/each}}
            {{/if}}
            
        </tbody>
    </table>
</div>