<div class="col-md-12">
    <table id="filterable-table" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Category</th>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Year</th>
                <th scope="col">Chassis #</th>
                <th scope="col">Quantity (Set)</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Total Price</th>
                 {{#if (isdefined page "view")}}
                <th scope="brake">Supplier</th>
                <th scope="col"  style="width: 15%;">Actoin</th>
                {{else}}
                <th scope="col">Quotation #</th>
                <th scope="col">Actoin</th>
                {{/if}}
            </tr>
        </thead>
        <tbody>
            {{#if (isdefined page "view")}}
            {{#each consumables}}
                <tr>
                    <th>{{counter @index}}</th>
                    <td>{{this.vehicle_data.category}}</th>
                    <td>{{this.vehicle_data.brand}}</td>
                    <td>{{this.vehicle_data.model}}</td>
                    <td>{{this.vehicle_data.year}}</td>
                    <td>{{this.vehicle_data.chassis}}</td>
                    <td>{{this.quantity}}</td>
                    <td>{{this.singleCost}}</td>
                    <td>{{multiply this.singleCost this.quantity}}</td>
                    <td><a href="/consumables/brake/{{this.supplierId}}">{{this.supplierName}}</a></td>
                    <td><a href="/consumables/brake/{{this.supplierId}}" style="padding-right: 25px;">View <i class="fas fa-external-link-alt"></i></a></td>
                   
                </tr>
            {{/each}}
            {{/if}}

             {{#if (isdefined page "add")}}
                {{#each consumables}}
                <tr>
                   <th>{{counter @index}}</th>
                    <td>{{this.category}}</th>
                    <td>{{this.carBrand}}</td>
                    <td>{{this.carYear}}</td>
                    <td>{{this.chassis}}</td>
                    <td>{{this.bBrand}}</td>
                    <td>{{this.quantity}}</td>
                    <td>{{this.singleCost}}</td>
                    <td>{{multiply this.singleCost this.quantity}}</td>
                    <td>{{this.quotationNumber}}</td>
                     <td>
                        <div class="input-group-append">
                            <a href="download/{{this.quotationNumber}}" style="padding-right: 25px;"><i class="fas fa-download"></i></a>
                            {{#if (isdefined this.quotationNumber "N/A")}}
                            <a href="/consumables/brake/view/NotAvilable"><i class="fas fa-external-link-alt"></i></a>
                            {{else}}
                            <a href="/consumables/brake/view/{{this.quotationNumber}}"><i class="fas fa-external-link-alt"></i></a>
                            {{/if}}
                        </div>
                    </td>
                </tr>
                {{/each}}
            {{/if}}
        </tbody>
    </table>
</div>

<script>
    function openPdf(fileNumber){
        window.open('view/'+ fileNumber);
    }
     function updateBrakePost(id){
        console.log("In the battery");
        document.getElementById("tableBrakeQuantity-" + id).name = "newQuantity";
        document.getElementById("mainForm").action = "update-brake/add/" + id;
    }

    function deleteBrakePost(id){
        if(confirm("Are you sure to delete this Brake?")){
            document.getElementById("mainForm").method = "POST"
            document.getElementById("tableBrakeQuantity-" + id).name = "newQuantity";
            document.getElementById("mainForm").action = "update-brake/delet/" + id;
            
        }else{
            //document.getElementById("mainForm").method = "GET";
            document.getElementById("category").value = "Brake";
        }
    }
</script>