<div class="col-md-12">
    <table id="filterable-table" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Category</th>
                <th scope="col">Car Brand</th>
                <th scope="col">Car Year</th>
                <th scope="col">Chassis #</th>
                <th scope="col">Battery Brand</th>
                <th scope="col">Quantity (Boxes)</th>
                {{#if (isdefined page "view")}}
                <th scope="col">Single Cost</th>
                <th scope="col">Total Cost</th>
                {{/if}}
                <th scope="col"  style="width: 15%;">Actoin</th>
            </tr>
        </thead>
        <tbody>
            {{#if (isdefined page "view")}}
            {{#each consumables}}
                <tr>
                    <th>{{counter @index}}</th>
                    <td>{{this.category}}</th>
                    <td>{{this.carBrand}}</td>
                    <td>{{this.carYear}}</td>
                    <td>{{this.chassis}}</td>
                    <td>{{this.bBrand}}</td>
                    <td>{{this.quantity}}</td>
                    <td>{{this.singleCost}}</td>
                    <td>{{multiply this.singleCost this.quantity}}</td>
                    <td class = "table-actions">
                        <div class="input-group">
                            <input type="number" id="tableBrakeQuantity-{{this.id}}" name="tableBrakeQuantity-{{this.id}}" class="form-control" placeholder="0" aria-label="Quantity" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button type="submit" id="updateBrake-{{this.id}}" name="updateBrake-{{this.id}}" class="btn btn-success btn-xs" onclick="updateBrakePost({{this.id}})"><i class="fas fa-plus-circle"></i></button>
                                <button type="submit" id="deleteBattery-{{this.id}}" name="deleteBrake-{{this.id}}" class="btn btn-danger btn-xs" onclick="deleteBrakePost({{this.id}})"><i class="fas fa-minus-circle"></i></button>
                            </div>
                        </div>
                    </td>  
                </tr>
            {{/each}}
            {{/if}}

             {{#if (isdefined page "add")}}
                {{#each values.brakes.consumable}}
                <tr>
                   <th>{{counter @index}}</th>
                    <td>{{this.category}}</th>
                    <td>{{this.carBrand}}</td>
                    <td>{{this.carYear}}</td>
                    <td>{{this.chassis}}</td>
                    <td>{{this.bBrand}}</td>
                    <td>{{this.quantity}}</td>
                    <td class = "table-actions">
                        <div class="input-group">
                            <input type="number" id="tableBrakeQuantity-{{this.id}}" name="tableBrakeQuantity-{{this.id}}" class="form-control" placeholder="Quantity" aria-label="Quantity" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button type="submit" id="updateBrake-{{this.id}}" name="updateBrake-{{this.id}}" class="btn btn-success btn-xs" onclick="updateBrakePost({{this.id}})"><i class="fas fa-plus-circle"></i></button>
                            </div>
                        </div>
                    </td>  
                </tr>
                {{/each}}
            {{/if}}
        </tbody>
    </table>
</div>

<script>
     function updateBrakePost(id){
        console.log("In the battery");
        document.getElementById("tableBrakeQuantity-" + id).name = "newQuantity";
        document.getElementById("mainForm").action = "update-brake/add/" + id;
    }

    function deleteBrakePost(id){
        if(confirm("Are you sure to delete this Brake?")){
            document.getElementById("mainForm").method = "POST"
            document.getElementById("tableBrakeQuantity-" + id).name = "newQuantity";
            document.getElementById("mainForm").action = "update-brake/delet/" + id;
            
        }else{
            //document.getElementById("mainForm").method = "GET";
            document.getElementById("category").value = "Brake";
        }
    }
</script>