<div class="col-md-12">
    <table id="filterable-table" class="table table-bordered table-custom-strip">
        <thead>
            <tr>
                <th scope="col" rowspan="2">#</th>
                <th scope="col" colspan="4">Vehicle</th>
                <th scope="col" colspan="2">Filter</th>
                <th scope="col" rowspan="2">Quantity (Boxes)</th>
                 {{#if (isdefined page "view")}}
                    <th scope="col" rowspan="2">Min Quantity</th>
                {{/if}}
                {{#if supplier}}
                    <th scope="col" rowspan="2">Unit Cost</th>
                {{/if}}
                <th scope="col" rowspan="2">Total Cost</th>
                {{#if (isdefined page "view")}}
                    {{#if supplier}}
                        <th scope="col" rowspan="2">Supplier</th>
                    {{/if}}
                {{else}}
                    <th scope="col" rowspan="2">Invoice #</th>
                {{/if}}
                <th scope="col" rowspan="2">Action</th>
                
            </tr>
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Year</th>
                <th scope="col">Filter Type</th>
                <th scope="col">Filter Brand</th>
            </tr>
        </thead>
        <tbody>
            {{#if (isdefined page "view")}}
            {{#each consumables}}
                {{#unless this.singleCost}}
                {{#if (greaterThan this.minQuantity this.quantity)}}
                <tr style="background-color: red; color: white; font-weight: bold;">
                {{else}}
                <tr>
                {{/if}}
                {{/unless}}
                    <td value={{counter @index}}>{{counter @index}}</td>
                    <td value={{this.vehicle_data.category}}>{{this.vehicle_data.category}}</td>
                    <td>{{this.vehicle_data.model}}</td>
                    <td>{{this.vehicle_data.brand}}</td>
                    <td>{{this.vehicle_data.year}}</td>
                    <td>{{this.fType}}</td>
                    <td>{{this.actualBrand}}</td>
                    <td>{{this.quantity}}</td>
                    <td>{{this.minQuantity}}</td>
                    {{#if this.singleCost}}
                    <td>{{this.singleCost}}</td>
                    <td>{{roundToTwo this.singleCost this.quantity}}</td>
                    <td><a href="/consumables/filter/{{this.supplierId}}">{{this.supplierName}}</a></td>
                    <td><a href="/consumables/filter/{{this.supplierId}}" style="padding-right: 25px;">View <i class="fas fa-external-link-alt"></i></a></td>
                    {{else}}
                    <td>{{roundToTwo this.totalCost "1"}}</td>
                    <td><a href="/consumables/filter/full">View <i class="fas fa-external-link-alt"></i></a></td>
                    {{/if}}
                </tr>
            {{/each}}
            {{/if}}

            {{#if (isdefined page "add")}}
            {{#each consumables}}
                <tr>
                    <th>{{counter @index}}</th>
                    <td>{{this.vehicle_data.category}}</td>
                    <td>{{this.vehicle_data.model}}</td>
                    <td>{{this.vehicle_data.brand}}</td>
                    <td>{{this.vehicle_data.year}}</td>
                    <td>{{this.fType}}</td>
                    <td>{{this.actualBrand}}</td>
                    <td>{{this.quantity}}</td>
                    <td>{{this.singleCost}}</td>
                    <td>{{roundToTwo this.singleCost this.quantity}}</td>
                    <td>{{this.quotationNumber}}</td>
                     <td>
                        <div class="input-group-append" style="text-align: center;">
                            <a href="download/{{this.quotationNumber}}"><i class="fas fa-download"></i></a>
                            {{#if (isdefined this.quotationNumber "N/A")}}
                            <a href="/consumables/filter/view/NotAvilable"><i class="fas fa-external-link-alt"></i></a>
                            {{else}}
                            <a href="/consumables/filter/view/{{this.quotationNumber}}"><i class="fas fa-external-link-alt"></i></a>
                            {{/if}}
                            <a id="deleteFilter" value={{this.id}} role="button" onclick="deleteFilter({{this.id}})"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </td>
                </tr>
            {{/each}}
            {{/if}}
        </tbody>
    </table>
</div>

<script>
     function openPdf(fileNumber){
        window.open('view/'+ fileNumber);
    }
    function updateFilterPost(id){
        document.getElementById("tableFilterQuantity-" + id).name = "newQuantity";
        document.getElementById("mainForm").action = "update-filter/add/" + id;
    }

    function deleteFilterPost(id){
        if(confirm("Are you sure to delete this Filter?")){
            document.getElementById("mainForm").method = "POST"
            document.getElementById("tableFilterQuantity-" + id).name = "newQuantity";
            document.getElementById("mainForm").action = "update-filter/delet/" + id;
            
        }else{
            //document.getElementById("mainForm").method = "GET";
            document.getElementById("category").value = "Filter";
        }
    }

    function deleteFilter(id){
        let quantity = prompt("How Many to Delete? ")
        window.location.href = `/consumables/delete/filter/${id}/${quantity}`;
    }

</script>