<div class="col-md-12">
    <table id="batteries-table" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Category</th>
                <th scope="col">Filter Type</th>
                <th scope="col">Filter Brand</th>
                <th scope="col">Car Brand</th>
                <th scope="col">Car Model</th>
                <th scope="col">Car Year</th>
                <th scope="col">Quantity (Boxes)</th>
                 {{#if (isdefined page "view")}}
                <th scope="col">Single Cost</th>
                <th scope="col">Total Cost</th>
                <th scope="brake">Supplier</th>
                {{else}}
                <th scope="col">Quotation #</th>
                {{/if}}
                <th scope="col">Action</th>
                
            </tr>
        </thead>
        <tbody>
            {{#if (isdefined page "view")}}
            {{#each consumables}}
                <tr>
                    <th>{{counter @index}}</th>
                    <td>{{this.category}}</td>
                    <td>{{this.fType}}</td>
                    <td>{{this.actualBrand}}</td>
                    <td>{{this.carModel}}</td>
                    <td>{{this.carBrand}}</td>
                    <td>{{this.carYear}}</td>
                    <td>{{this.quantity}}</td>
                    <td>{{this.singleCost}}</td>
                    <td>{{roundToTwo this.singleCost this.quantity}}</td>
                     <td><a href="/consumables/filter/{{this.supplierId}}">{{this.supplierName}}</a></td>
                    <td><a href="/consumables/filter/{{this.supplierId}}" style="padding-right: 25px;">View <i class="fas fa-external-link-alt"></i></a></td>

                </tr>
            {{/each}}
            {{/if}}

            {{#if (isdefined page "add")}}
            {{#each consumables}}
                <tr>
                    <th>{{counter @index}}</th>
                    <td>{{this.category}}</td>
                    <td>{{this.fType}}</td>
                    <td>{{this.actualBrand}}</td>
                    <td>{{this.carBrand}}</td>
                    <td>{{this.carModel}}</td>
                    <td>{{this.carYear}}</td>
                    <td>{{this.quantity}}</td>
                    <td>{{this.quotationNumber}}</td>
                     <td>
                        <div class="input-group-append">
                            <a href="download/{{this.quotationNumber}}" style="padding-right: 25px;"><i class="fas fa-download"></i></a>
                            {{#if (isdefined this.quotationNumber "N/A")}}
                            <a href="/consumables/filter/view/NotAvilable"><i class="fas fa-external-link-alt"></i></a>
                            {{else}}
                            <a href="/consumables/filter/view/{{this.quotationNumber}}"><i class="fas fa-external-link-alt"></i></a>
                            {{/if}}
                        </div>
                    </td>
                </tr>
            {{/each}}
            {{/if}}
        </tbody>
    </table>
</div>

<script>
     function openPdf(fileNumber){
        window.open('view/'+ fileNumber);
    }
    function updateFilterPost(id){
        document.getElementById("tableFilterQuantity-" + id).name = "newQuantity";
        document.getElementById("mainForm").action = "update-filter/add/" + id;
    }

    function deleteFilterPost(id){
        if(confirm("Are you sure to delete this Filter?")){
            document.getElementById("mainForm").method = "POST"
            document.getElementById("tableFilterQuantity-" + id).name = "newQuantity";
            document.getElementById("mainForm").action = "update-filter/delet/" + id;
            
        }else{
            //document.getElementById("mainForm").method = "GET";
            document.getElementById("category").value = "Filter";
        }
    }

</script>