<div class="col-md-12">
    <table id="filterable-table" class="table table-bordered table-custom-strip">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Grease Spec</th>
                <th scope="col">Grease Type</th>
                <th scope="col">Car Brand</th>
                <th scope="col">Car Year</th>
                <th scope="col">Volume</th>
                {{#if (isdefined page "view")}}
                    <th scope="col">Min Volume</th>
                {{/if}}
                {{#if supplier}}
                    <th scope="col">Liter Cost</th>
                {{/if}}
                <th scope="col">Total Cost</th>
                {{#if (isdefined page "view")}}
                    {{#if supplier}}
                        <th scope="col">Supplier</th>
                    {{/if}}
                    <th scope="col"  style="width: 15%;">Actoin</th>
                {{else}}
                    <th scope="col">Invoice #</th>
                    <th scope="col">Actoin</th>
                {{/if}}
            </tr>
        </thead>
        <tbody>
            {{#if (isdefined page "view")}}
            {{#each consumables}}
                {{#unless this.price_per_litter}}
                {{#if (greaterThan this.minVolume this.volume)}}
                <tr style="background-color: red; color: white; font-weight: bold;">
                {{else}}
                <tr>
                {{/if}}
                {{/unless}}
                    <td>{{counter @index}}</td>
                    <td>{{this.greaseSpec}}</td>
                    <td>{{this.typeOfGrease}}</td>
                    <td>{{this.carBrand}}</td>
                    <td>{{this.carYear}}</td>
                    <td>{{this.volume}}</td>
                    <td>{{this.minVolume}}</td>
                    {{#if this.price_per_litter}}
                        <td>{{this.price_per_litter}}</td>
                        <td>{{this.totalCost}}</td>
                        <td><a href="/consumables/grease/{{this.supplierId}}">{{this.supplierName}}</a></td>
                        <td><a href="/consumables/grease/{{this.supplierId}}" style="padding-right: 25px;">View <i class="fas fa-external-link-alt"></i></a></td>
                    {{else}}
                        <td>{{this.totalCost}}</td>
                        <td><a href="/consumables/grease/full" style="padding-right: 25px;">View <i class="fas fa-external-link-alt"></i></a></td>
                    {{/if}}
                </tr>
            {{/each}}
            {{/if}}

            {{#if (isdefined page "add")}}
            {{#each consumables}}
                 <tr>
                    <th>{{counter @index}}</th>
                    <td>{{this.greaseSpec}}</td>
                    <td>{{this.typeOfGrease}}</td>
                    <td>{{this.carBrand}}</td>
                    <td>{{this.carYear}}</td>
                    <td>{{this.volume}}</td>
                    <td>{{this.price_per_litter}}</td>
                    <td>{{this.totalCost}}</td>
                    <td>{{this.quotationNumber}}</td>
                     <td>
                        <div class="input-group-append">
                            <a href="download/{{this.quotationNumber}}" style="padding-right: 25px;"><i class="fas fa-download"></i></a>
                            {{#if (isdefined this.quotationNumber "N/A")}}
                            <a href="/consumables/grease/view/NotAvilable"><i class="fas fa-external-link-alt"></i></a>
                            {{else}}
                            <a href="/consumables/grease/view/{{this.quotationNumber}}"><i class="fas fa-external-link-alt"></i></a>
                            {{/if}}
                        </div>
                    </td>
                </tr>
            {{/each}}
            {{/if}}
        </tbody>
    </table>
</div>

<script>

    function openPdf(fileNumber){
        window.open('view/'+ fileNumber);
    }

    function updateGreasePost(id){

        document.getElementById("tableGreaseQuantity-" + id).name = "newQuantity";
        document.getElementById("mainForm").action = "update-grease/add/" + id;
    }

    function deleteGreasePost(id){
        console.log("My id is " + id);
        if(confirm("Are you sure to delete this Grease?")){
            document.getElementById("mainForm").method = "POST"
            document.getElementById("tableGreaseQuantity-" + id).name = "newQuantity";
            document.getElementById("mainForm").action = "update-grease/delet/" + id;
            
        }else{
            //document.getElementById("mainForm").method = "GET";
            document.getElementById("category").value = "Grease";
        }
    }
</script>
