<div class="col-md-12">
    <table id="filterable-table" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Battery Spec</th>
                <th scope="col">Car Brand</th>
                <th scope="col">Car Year</th>
                <th scope="col">Quantity (Boxes)</th>
                <th scope="col">Supplier</th>
                <th scope="col">Quotation #</th>
                <th scope="col">Action</th>

            </tr>
        </thead>
        <tbody>
            {{console consumableTable.batteries}}
                {{#each consumableTable.batteries}}
                <tr>
                    <th>{{counter @index}}</th>
                    <td>{{this.batSpec}}</th>
                    <td>{{this.carBrand}}</td>
                    <td>{{this.carYear}}</td>
                    <td>{{this.quantity}}</td>
                    <td>{{this.supplierName}}</td>
                     <td>{{this.quotationNumber}}</td>
                     <td>
                        <div class="input-group-append">
                            <a href="download/{{this.quotationNumber}}" style="padding-right: 25px;"><i class="fas fa-download"></i></a>
                            <a href="" onclick="openPdf({{this.quotationNumber}})"><i class="fas fa-external-link-alt"></i></a>
                        </div>
                    </td>
                </tr>
                {{/each}}
        </tbody>
    </table>
</div>
