<div class="col-md-12">
    <div class="table-buttons" id="table-buttons">
        <button type="button" name="create-new" class="btn btn-outline-dark" id="create-new" onclick="test('consumable')"><i class="fas fa-plus"></i>Add Material</button>
    </div>
</div>

<div class="col-md-12">
<table id="filterable-table" name="table" class="table table-bordered table-striped">
    <thead>
        <tr name="tableHead">
            <th scope="col">S.N.</th>
            <th scope="col">MR#</th>
            <th scope="col">Invoice#</th>
            <th scope="col">Material</th>
            <th scope="col">Supplier</th>
            <th scope="col">Quantatiy</th>
            <th scope="col">Unit Cost</th>
            <th scope="col">Total work_orders_cost</th>
            <th scope = "col">Details</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each mainConsumable}}
         {{#if (ifOr this.consumable)}}
            <tr>
                <td>{{counter @index}}</td>
                {{#if this.consumable.materialRequestNumber}}
                    <td><a>{{this.consumable.materialRequestNumber}}</a></td>
                {{else}}
                    <td><a>T.M.I. Stock</a></td>
                {{/if}}
                <td><a>{{this.consumable.quotationNumber}}</a></td>
                <td><a>{{this.type.consumable_type}}</a></td>
                <td><a>{{this.consumable.supplierName}}</a></td>
                <td><a>{{this.type.consumable_quantity}}</a></td>
                {{#if (isdefined this.type.consumable_type "GREASE")}}
                    <td><a>{{this.consumable.price_per_litter}} AED (Per Liter)</a></td>
                {{else}}
                    {{#if (isdefined this.type.consumable_type "OIL")}}
                        <td><a>{{this.consumable.oilPrice}} AED (Per Liter)</a></td>
                    {{else}}
                        <td><a>{{this.consumable.singleCost}} {{#if (isdefined this.type.consumable_type "BRAKE") }} AED (Per Boxes){{else}} AED (Per Pieces){{/if}}</a></td>  
                    {{/if}}
                {{/if}}
                <td><a>{{this.consumable.totalCost}} AED</a></td>
                {{#if this.consumable.details}}
                     <td><a>{{this.consumable.details}}</a></td>
                {{else}}
                    <td><a>N/A</a></td>
                {{/if}}
                <td class="table-actions">
                    <a href="/consumables/{{this.type.consumable_type}}/download/{{this.consumable.quotationNumber}}"><i class="fas fa-download"></i></a>
                    <a href="/consumables/{{this.type.consumable_type}}/view/{{this.consumable.quotationNumber}}"><i class="fas fa-external-link-alt"></i></a>                    
                    <a href="/maintanence/delete/{{this.consumable.id}}"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {{/if}}
        {{/each}}
    </tbody>
</table>
</div>
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
        <div id="mContent"></div>

  </div>