<div class="col-md-12">
    <div class="table-buttons" id="table-buttons">
        <button type="button" name="create-new" class="btn btn-outline-dark" id="create-new" onclick="test('request')"><i class="fas fa-plus"></i>Add Material Request</button>
    </div>
<table id="filterable-table" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">MR#</th>
            <th scope="col">Item</th>
            <th scope="col">Full Quantity</th>
            <th scope="col">Pending Quantity</th>
            <th scope="col">Details</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each existingMain.material_request_data}}
                <tr>
                    <th rowspan={{this.items.length}} style="vertical-align: middle;"><a>{{this.material_request}}</a></th>
                    <td><a>{{getElement this.items 0 "other_name"}}</a></td>
                    <td><a>{{add (getElement this.items 0 "quantity") (getElement this.items 0 "pendingQuantity")}}</a></td>
                    <td><a>{{getElement this.items 0 "pendingQuantity"}}</a></td>
                    <td><a>{{getElement this.items 0 "details"}}</a></td>
                    
                    <td><a onmouseover="style='cursor:pointer';"><i class="fas fa-exchange-alt" onclick="requestModel('{{this.material_request}}', '{{getElement this.items 0 "id"}}', '{{this.maintenance_req}}')"></i></a></td>   
                </tr>
                {{#each this.items}}
                    {{#unless (isdefined @index 0)}}
                     <tr>
                        <td><a>{{this.other_name}}</a></td>
                        <td><a>{{add this.pendingQuantity this.quantity}}</a></td>
                        <td><a>{{this.pendingQuantity}}</a></td>
                        <td><a>{{this.details}}</a></td>
                        
                        <td><a onmouseover="style='cursor:pointer';"><i class="fas fa-exchange-alt" onclick="requestModel('{{this.materialRequestNumber}}', '{{this.id}}', '{{this.maintenanceReq}}')"></i></a></td>
                    </tr>
                    {{/unless}}
                
                {{/each}}
        {{/each}}
    </tbody>
</table>
</div>
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
        <div id="mContent"></div>

  </div>