<div class="col-md-12">
    <div class="table-buttons" id="table-buttons">
        <button type="button" name="create-new" class="btn btn-outline-dark" id="create-new" onclick="test()"><i class="fas fa-plus"></i>Add Material</button>
    </div>

<table id="material-filterable-table" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">S.N.</th>
            <th scope="col">MR#</th>
            <th scope="col">Material</th>
            <th scope="col">Supplier</th>
            <th scope="col">Quantatiy</th>
            <th scope="col">Cost</th>
        </tr>
    </thead>
    <tbody>
        {{#each mainConsumable}}
            <tr>
                <th>{{counter @index}}</th>
                {{#if (isdefined this.type.consumable_type "Other")}}
                    <td><a></a></td>
                {{else}}
                    <td><a>T.M.I. Stock</a></td>
                {{/if}}
                <td><a>{{this.type.consumable_type}}</a></td>
                <td><a>{{this.consumable.supplierName}}</a></td>
                <td><a>{{this.type.consumable_quantity}}</a></td>
                {{#if (isdefined this.type.consumable_type "Grease")}}
                    <td><a>{{this.consumable.price_per_litter}} AED (Per Liter)</a></td>
                {{else}}
                    {{#if (isdefined this.type.consumable_type "Oil")}}
                        <td><a>{{this.consumable.oilPrice}} AED (Per Liter)</a></td>
                    {{else}}
                        <td><a>{{this.consumable.singleCost}} {{#if (isdefined this.type.consumable_type "Brake") }} AED (Per Boxes){{else}} AED (Per Pieces){{/if}}</a></td>  
                    {{/if}}
                {{/if}}
                
            </tr>
        {{/each}}
    </tbody>
</table>
</div>
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
        <div id="mContent"></div>

  </div>