<div class="col-md-12">
    <table id="filterable-table" class="table table-bordered table-custom-strip">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Oil Spec</th>
                <th scope="col">Oil Type</th>
                <th scope="col">Volume</th>
                {{#if (isdefined page "view")}}
                <th scope="col">Min Volume</th>
                <th scope="col">Total Cost</th>
                {{#if supplier}}
                <th scope="col">Supplier</th>
                {{/if}}
                {{else}}
                <th scope="col">Quotation #</th>
                {{/if}}
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#if (isdefined page "view")}}
            {{#each consumables}}
                {{#if (greaterThan this.minVolume this.volume)}}
                <tr style="background-color: red; color: white; font-weight: bold;">
                {{else}}
                <tr>
                {{/if}}
                    <th>{{counter @index}}</th>
                    <td>{{this.oilSpec}}</td>
                    <td>{{this.typeOfOil}}</td>
                    <td>{{this.volume}}</td>
                    <td>{{this.minVolume}}</td>
                    <td><a href="/consumables/oil/full">{{this.totalCost}}</a></td>
                    {{#if this.supplierName}}
                    <td><a href="/consumables/oil/{{this.supplierId}}">{{this.supplierName}}</a></td>
                    <td><a href="/consumables/oil/{{this.supplierId}}" style="padding-right: 25px;">View <i class="fas fa-external-link-alt"></i></a></td>
                    {{else}}
                    <td><a href="/consumables/oil/full" style="padding-right: 25px;">View <i class="fas fa-external-link-alt"></i></a></td>
                    {{/if}}
                </tr>
            {{/each}}
            {{/if}}

            {{#if (isdefined page "add")}}
            {{#each consumables}}
                 <tr>
                    <th>{{counter @index}}</th>
                    <td>{{this.oilSpec}}</td>
                    <td>{{this.typeOfOil}}</td>
                    <td>{{this.volume}}</td>
                    <td>{{this.quotationNumber}}</td>
                     <td>
                        <div class="input-group-append">
                            <a href="download/{{this.quotationNumber}}" style="padding-right: 25px;"><i class="fas fa-download"></i></a>
                            {{#if (isdefined this.quotationNumber "N/A")}}
                            <a href="/consumables/oil/view/NotAvilable"><i class="fas fa-external-link-alt"></i></a>
                            {{else}}
                            <a href="/consumables/oil/view/{{this.quotationNumber}}"><i class="fas fa-external-link-alt"></i></a>
                            {{/if}}
                            <a id="deleteOil" role="button" onclick="deleteOil({{this.id}})"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </td>
                </tr>
            {{/each}}
            {{/if}}
        </tbody>
    </table>
</div>

<script>
    function openPdf(fileNumber){
        window.open('view/'+ fileNumber);
    }
    function updateOilPost(id){
        document.getElementById("tableOilQuantity-" + id).name = "newQuantity";
        document.getElementById("mainForm").action = "update-oil/add/" + id;
    }

    function deleteOilPost(id){
        if(confirm("Are you sure to delete this Oil?")){
            document.getElementById("mainForm").method = "POST"
            document.getElementById("tableOilQuantity-" + id).name = "newQuantity";
            document.getElementById("mainForm").action = "update-oil/delet/" + id;
            
        }else{
            //document.getElementById("mainForm").method = "GET";
            document.getElementById("category").value = "Oil";
        }
    }

    function deleteOil(id){
        let quantity = prompt("How Many to Delete? ")
        window.location.href = `/consumables/delete/oil/${id}/${quantity}`;
    }
</script>