<!--Main Navigation-->
  <!-- Sidebar -->
  <nav
    id="sidebar"
    >
    <div class="sidebar-header">
      <h3>T.M.I.</h3>
    </div>
    <div id="accordion">
       
      <a
        id="headingJob"
        class="btn btn-link collapsed"
        data-toggle="collapse"
        data-parent="#accordion"
        data-target="#jobSubmenu"
        aria-expanded="false"
        aria-controle="jobSubmenu"
        role="button"
        >
        <i class="fas fa-tools fa-lg"></i>
        <span>Jobs</span>
      </a>
        <!-- Collapsed content -->
      <ul 
        id="jobSubmenu" 
        class="collapse" 
        aria-labelledby="headingJob" 
        data-parent="#accordion"
        >
        <li class="list-group-item py-1">
          <a href="/maintanence/create" id="createJob"><i class="fas fa-plus"></i>Create New Job Request</a>
        </li>
        <li class="list-group-item py-1">
          <a href="maintanence"><i class="fab fa-buffer"></i>View Job Requests</a>
        </li>
      </ul>
      <a
        id="headingUser"
        class="btn btn-link collapsed"
        data-toggle="collapse"
        data-parent="#accordion"
        data-target="#userSubmenu"
        aria-expanded="false"
        aria-controls="userSubmenu"
        role="button"
        >
        <i class="fas fa-user fa-lg"></i>
        <span>Users</span>
      </a>       
        <!-- Collapsed content -->
      <ul 
        id="userSubmenu"
        class="collapse" 
        aria-labelledby="headingUser" 
        data-parent="#accordion"
        >
        <li class="list-group-item py-1">
            <a href="/users/create" id="createUser"><i class="fas fa-plus"></i> Create New User</a>
          </li>
          <li class="list-group-item py-1">
            <a href="/users"><i class="fab fa-buffer"></i> View All Users</a>
          </li>
      </ul>
        <!-- Collapse 2 -->
      <a
        id="headingVehicle"
        class="btn btn-link collapsed"
        data-toggle="collapse"
        data-parent="#accordion"
        data-target="#vehicleSubmenu"
        aria-expanded="false"
        aria-controle="vehicleSubmenu"
        role="button"
        >
        <i class="fas fa-truck-pickup fa-lg"></i>
        <span>Vehicles</span>
      </a>
      <ul
        id="vehicleSubmenu" 
        class="collapse"
        aria-labelledby="headingVehicle" 
        data-parent="#accordion" 
        >
        <li class="list-group-item py-1">
          <a href="/vehicles/add" id="addVehicle"><i class="fas fa-plus"></i> Add New Vehicle</a>
        </li>
        <li class="list-group-item py-1">
          <a href="/vehicles"><i class="fab fa-buffer"></i> View All Vehicles</a>
        </li>
      </ul>
      <a
        id="headingConsumable"
        class="btn btn-link collapsed"
        data-toggle="collapse"
        data-parent="#accordion"
        data-target="#consumablesSubmenu"
        aria-expanded="false"
        aria-controls="consumablesSubmenu"
        >
        <i class="fas fa-boxes fa-lg"></i>
        <span>Consumables</span>
      </a>
      <ul
        id="consumablesSubmenu"
        class="collapse"
        aria-labelledby="headingConsumable" 
        data-parent="#accordion"
        >
        <li class="list-group-item py-1">
          <a href="/consumables/add" id="addConsumable"><i class="fas fa-plus"></i> Add New Consumable</a>
        </li>
        <li class="list-group-item py-1">
          <a href="/consumables"><i class="fab fa-buffer"></i>View All Consumables</a>
        </li>
      </ul>
      <a
        id="headingSupplier"
         class="btn btn-link collapsed"
        data-toggle="collapse"
        data-parent="#accordion"
        data-target="#supplierSubmenu"
        aria-expanded="false"
        aria-controls="supplierSubmenu"
        role="button"
        >
        <i class="fas fa-store fa-lg"></i>
        <span>Suppliers</span>
      </a>
        <!-- Collapsed content -->
      <ul
        id="supplierSubmenu"
        class="collapse" 
        aria-labelledby="headingJob" 
        data-parent="#accordion"
        >
        <li class="list-group-item py-1">
          <a href="/suppliers/register" id="addSupplier"><i class="fas fa-plus"></i> Register New Supplier</a>
        </li>
        <li class="list-group-item py-1">
          <a href="/suppliers"><i class="fab fa-buffer"></i>View Suppliers</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav
       id="main-navbar"
       class="navbar navbar-expand-lg fixed-top"
       style="background-color: #666666;"
       >
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
              class="btn btn-info"
              type="button"
              id="sidebarCollapse"
              >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Brand -->
      <a class="navbar-brand" href="#">
      </a>
      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <!-- Notification dropdown -->
        <li class="nav-item dropdown">
          <a
             class="nav-link me-3 me-lg-0 hidden-arrow"
             href="#"
             id="bell"
             role="button"
             data-toggle="dropdown"
             aria-expanded="false"
             >
            <span class="fa-stack">
				<i class="far fa-bell fa-lg fa-stack-1x"></i> 
				{{#unless (isdefined minimums "Satisfactory Stock Levels")}}
				<i class="fas fa-certificate fa-xs fa-stack-1x" style="color:Tomato"></i> 
				{{/unless}}
			</span>
          </a>
          <ul
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="bell"
              >
            <li><a class="dropdown-item" href="#">
                <h2>Stock Deficits</h2>
				<p>{{{minimums}}}</p>
            </a></li>
          </ul>
        </li>

        <!-- Avatar -->
        <li class="nav-item dropdown">
          <a
             class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
             href="#"
             id="userInfoNav"
             role="button"
             data-toggle="dropdown"
             aria-expanded="false"
             >
            {{user.id}}
            &nbsp;
			{{console user}}
            <img
                 src="/profilePictures/{{user.profilePicture}}"
                 class="rounded-circle"
                 height="40"
                 alt=""
                 loading="lazy"
                 />
          </a>
          <ul
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="userInfoNav"
              >
            <li><a class="dropdown-item" id="editAccount" href="/users/edit/{{user.id}}">Edit Account</a></li>
            <li><a class="dropdown-item" href="/users/display-user/{{user.id}}" id="viewAccount"><i class="far fa-user"></i> View Account</a></li>
            <li><a class="dropdown-item" href="/users/update/{{user.id}}" id="updateAccount"><i class="fas fa-cog"></i> View Jobs</a></li>
            <li><a class="dropdown-item" id="logout" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Container wrapper -->
  </nav>
  <div class="overlay"></div>
  <!-- Navbar -->