<div class="col-md-12">
    <form action="{{action}}" method="POST">
        <div class="section-wrapper">
            <div class="section-title">
                <h4>Job Request</h4>
                <hr class="my-3">
            </div>
            <div class="section-content">
                <div class="form-row">
                    <div class="form-group col">
                        <label for="req">Req #</label>
                        <input type="text" id="reqNumber" name="reqNumber" class="form-control" value={{newReqNumber}} readonly>
                    </div>
                    <div class="form-group col">
                        <label for="plate">Plate #</label>
                        <input list="plate" id="plateValue" name="plate" placeholder="Select Plate #" class="form-control" onChange="setVehicleInfo()" required>
                           <datalist id="plate">
                               {{#each vehicles}}
                                <option value="{{this.plate}}">{{this.plate}}</option>
                                {{/each}}
                           </datalist>
                    </div>
                </div>
                <div class="form-row">
                     <div class="form-group col ">
                        <label for="category">Vehicle Category</label>
                        <select type="text" name="category" id="category" class="form-control" disabled>
                             <option value="" selected disabled></option>
                            {{#each vehicles}}
                                <option value="{{this.plate}}">{{this.category}}</option>
                            {{/each}}
                             
                        </select>
                        
                    </div>
                     <div class="form-group col ">
                        <label for="brand">Vehicle Brand</label>
                        <select type="text" id="brand" name="brand" class="form-control" disabled>
                            <option value="" selected disabled></option>
                        {{#each vehicles}}
                                <option value="{{this.plate}}">{{this.brand}}</option>
                            {{/each}}
                       </select>
                    </div>
                    <div class="form-group col ">
                        <label for="model">Vehicle Model</label>
                        <select type="text" id="model"name="model" class="form-control" disabled>
                        <option value="" selected disabled></option>
                             {{#each vehicles}}
                                <option value="{{this.plate}}">{{this.model}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group col ">
                        <label for="year">Vehicle Year</label>
                        <select type="text" id="year" name="year" class="form-control" disabled>
                      <option value="" selected disabled></option>
                            {{#each vehicles}}
                                <option value="{{this.plate}}">{{this.year}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                     <div class="form-group col ">
                        <label for="employee">Created By</label>
                        <input list="employee" name="employee" value="{{mainUser}}" class="form-control" readonly>
                    </div>
                    <div class="form-group col ">
                        <label for="type">Maintanence Type</label>
                        <input list="type" name="type" class="form-control" multiple required >
                        <datalist id="type">
                             <option value="REPAIR"></option>
                             <option value="PREVENTATVE"></option>
                        </datalist>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <lable for="discription">Maintanence Discription</lable>
                        <textarea type="text" class="form-control" name="discription" id="discription"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" id="submit" name="submit" class="btn btn-primary justfiy-content-end"><i class="far fa-save"></i>Create</button>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
    const separator = ',';
    for (const input of document.getElementsByTagName("input")) {
        if (!input.multiple) {
            continue;
        }
        if (input.list instanceof HTMLDataListElement) {
            const optionsValues = Array.from(input.list.options).map(opt => opt.value);
            let valueCount = input.value.split(separator).length;
            input.addEventListener("input", () => {
                const currentValueCount = input.value.split(separator).length;
                if (valueCount !== currentValueCount) {
                    const lsIndex = input.value.lastIndexOf(separator);
                    const str = lsIndex !== -1 ? input.value.substr(0, lsIndex) + separator : "";
                    filldatalist(input, optionsValues, str);
                    valueCount = currentValueCount;
                }
            });
        }
    }
    function filldatalist(input, optionValues, optionPrefix) {
        const list = input.list;
        if (list && optionValues.length > 0) {
            list.innerHTML = "";
            const usedOptions = optionPrefix.split(separator).map(value => value.trim());
            for (const optionsValue of optionValues) {
                if (usedOptions.indexOf(optionsValue) < 0) {
                    const option = document.createElement("option");
                    option.value = optionPrefix + optionsValue;
                    list.append(option);
                }
            }
        }
    }
});

    function setVehicleInfo(){
        console.log("In here");
        console.log(document.getElementById('plateValue').value)
        document.getElementById("category").value = document.getElementById('plateValue').value
        document.getElementById("brand").value = document.getElementById('plateValue').value
        document.getElementById("model").value = document.getElementById('plateValue').value
        document.getElementById("year").value = document.getElementById('plateValue').value
       //document.getElementById("hiddenPlate").value = document.getElementById("plate").value
       //console.log(document.getElementById("hiddenPlate").value)
      

    }

    function showValue(value){
       
    }
</script>
