<div class="col-md-12">
    {{!-- Action Buttons --}}
    <div class="header-action-buttons pull-right">
        {{#if user.admin}}
        <a href="/vehicles/delete/{{existingVehicle.plate}}/{{existingVehicle.chassis}}" role="button" class="btn btn-danger delete" id="delete" class="delete" data-confirm="Are you sure to delete {{existingVehicle.brand}} {{existingVehicle.model}} With Plate # {{existingVehicle.plate}}?"><i class="fas fa-trash" aria-hidden="true"></i> Delete</a>
        {{/if}}
        {{#if showPii}}
        <a href="/users/update/{{existingUser._id}}" role="button" class="btn btn-outline-dark" id="update"><i class="far fa-edit" aria-hidden="true"></i> Update</a>
        {{/if}}
    </div>

    {{!-- User Information --}}
    <div class="section-wrapper">
        <div class="section-title">
            {{#if (isdefined "pickup" iconType)}}
            <h4><i class="fas fa-truck-pickup"></i>Vehicle Information</h4>
            {{/if}}
            {{#if (isdefined "bus" iconType)}}
            <h4><i class="fas fa-bus"></i>Vehicle Information</h4>
            {{/if}}
            {{#if (isdefined "car" iconType)}}
            <h4><i class="fas fa-car-alt"></i>Vehicle Information</h4>
            {{/if}}
            {{#if (isdefined "truck" iconType)}}
            <h4><i class="fas fa-truck-moving"></i>Vehicle Information</h4>
            {{/if}}
            {{#if (isdefined "trolly" iconType)}}
            <h4><i class="fas fa-caravan"></i> Vehicle Information</h4>
            {{/if}}
            <hr class="my-3">
        </div>
        <div class="section-content">
            <div class="form-row">
                <div class="form-group col-md-6 display-user">
                    <label for="category">Category</label>
                    <input type="text" class="form-control" name="type" id="type" value="{{existingVehicle.category}}" readonly>
                </div>
                <div class="form-group col-md-6 display-user">
                    <label for="brand">Brand</label>
                    <input type="text" class="form-control" name="brand" id="brand" value="{{existingVehicle.brand}}" readonly>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 display-user">
                    <label for="model">Model</label>
                    <input type="text" class="form-control" name="model" id="model" value="{{existingVehicle.model}}" readonly>
                </div>
                <div class="form-group col-md-6 display-user">
                    <label for="year">Year</label>
                    <input type="text" class="form-control" name="year" id="year" value="{{existingVehicle.year}}" readonly>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 display-user">
                    <label for="plate">Plate #</label>
                    <input type="text" class="form-control" name="plate" id="plate" value="{{existingVehicle.plate}}" readonly>
                </div>
                <div class="form-group col-md-6 display-user">
                    <label for="chassis">Chassis #</label>
                    <input type="text" class="form-control" name="chassis" id="chassis" value="{{existingVehicle.chassis}}" readonly>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 display-user">
                    <label for="kmDriven">KM Driven</label>
                    <input type="text" class="form-control" name="kmDriven" id="kmDriven" value="{{existingVehicle.kmDriven}}" readonly>
                </div>
                <div class="form-group col-md-6 display-user">
                    <label for="kmTillOilChange">KM Till Next Oil Change</label>
                    <input type="text" class="form-control" name="kmTillOilChange" id="kmTillOilChange" value="{{existingVehicle.kmForOilChange}}" readonly>
                </div>
            </div>
        </div>
    </div>

    {{!-- Courses --}}
    <div class="section-wrapper">
        <div class="section-title">
            <h4><i class="fas fa-cogs"></i>Job Orders</h4>
            <p>Total Maintenance Cost: <a id = "vehcileMaintenanceValue">{{existingVehicle.work_orders_cost}} AED</a></p>
            <hr class="my-3">
        </div>
        <div class="section-content">
            <table id="filterable-table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date Created</th>
                        <th scope="col">Req #</th>
                        <th scope="col">Division</th>
                        <th scope="col">Current Job Cost</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each existingVehicle.work_orders}}
                    <tr>
                        <td><a href="/maintanence/{{this.req}}">{{counter @index}}</a></td>
                        <td><a href="/maintanence/{{this.req}}">{{this.createdAt}}</a></td>
                        <td><a href="/maintanence/{{this.req}}">{{this.req}}</a></td>
                        <td><a href="/maintanence/{{this.req}}">{{this.division}}</a></td>
                        <td><a href="/maintanence/{{this.req}}">{{this.total_cost}}</a></td>
                        {{#if (isdefined this.status "Not Started")}}
                            <td bgcolor="red" style="color:white; font-weight:bold">NOT STARTED</td>
                        {{/if}}
                        {{#if (isdefined this.status "In Progress")}}
                            <td bgcolor="#7EC8E3" style="color:black; font-weight:bold">IN PROGRESS</td>
                        {{/if}}
                        {{#if (isdefined this.status "Pending Material")}}
                            <td bgcolor="#FFC55C" style="color:black; font-weight:bold">PENDING MATERIAL</td>
                        {{/if}}
                        {{#if (isdefined this.status "Completed")}}
                            <td bgcolor="#8AFF8A" style="color:black; font-weight:bold">COMPLETED</td>
                        {{/if}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function assignIcon(type){
        if(type.includes("PICKUP")){
            return "fas fa-truck-pickup"
        }
        console.log("In here");
    }
</script>
