<div class="col-md-12">
    <div class="table-buttons" id="table-buttons">
        <a href="/users/create" role="button" class="btn btn-outline-dark" id="create-new"><i class="fas fa-plus"></i>  Create New User</a>
    </div>
</div>
{{!-- Displays all users --}}
<div class="col-md-12">
    <table id="filterable-table" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Employee ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Username</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
                <tr>
                    <td><a href="/users/display-user/{{this.id}}" id="userId-{{this.id}}"> {{counter @index}}</a></td>
                    <td><a href="/users/display-user/{{this.id}}" id="userId-{{this.id}}">{{this.id}}</a></td>
                    <td><a href="/users/display-user/{{this.id}}">{{this.firstName}}</a></td>
                    <td><a href="/users/display-user/{{this.id}}">{{this.lastName}}</a></td>
                    <td><a href="/users/display-user/{{this.id}}">{{this.username}}</a></td>
                    <td class = "table-actions">
                        <a href="/users/update/{{this.id}}" id="updateUser-{{this.id}}"><i class="far fa-edit"></i> Update </a>
                        <a href="/users/delete/{{this.id}}" id="deleteUserId-{{this.id}}" class="delete" data-confirm="Are you sure to delete Employee ID# {{this.id}}?"><i class="fas fa-trash"></i> Delete</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
