<div class="col-md-12">
    <div class="table-buttons" id="table-buttons">
        <a href="/maintanence/add" role="button" class="btn btn-outline-dark" id="create-new"><i class="fas fa-plus"></i>Add New Job</a>
    </div>
</div>

<div class="col-md-12">
    <table id="filterable-table" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col" rowspan="2">#</th>
                <th scope="col" rowspan="2">Date</th>
                <th scope="col" rowspan="2">Req#</th>
                <th scope="col" rowspan="2">Division</th>
                <th scope="col" colspan="5">Vehicle</th>
                <th scope="col" rowspan="2">Status</th>
                
            </tr>
            <tr>
                <td scope="col">Plate#</td>
                <td scope="col">Category</td>
                <td scope="col">Brand</td>
                <td scope="col">Model</td>
                <td scope="col">Year</td>
            </tr>
        </thead>
        <tbody>
            {{#each orders}}
                <tr>
                    <td><a href="/maintanence/{{this.req}}">{{counter @index}}</a></td>
                    <td><a href="/maintanence/{{this.req}}">{{this.createdAt}}</a></td>
                    <td><a href="/maintanence/{{this.req}}">{{this.req}}</a></td>
                    <td><a href="/maintanence/{{this.req}}">{{this.division}}</a></td>
                    <td><a href="/maintanence/{{this.req}}">{{this.plate}}</a></td>
                    <td><a href="/maintanence/{{this.req}}">{{this.vehicle_data.category}}</a></td>
                    <td><a href="/maintanence/{{this.req}}">{{this.vehicle_data.brand}}</a></td>
                    <td><a href="/maintanence/{{this.req}}">{{this.vehicle_data.model}}</a></td>
                    <td><a href="/maintanence/{{this.req}}">{{this.vehicle_data.year}}</a></td>
                    {{#if (isdefined this.status "Not Started")}}
                        <td bgcolor="red" style="color:white; font-weight:bold">NOT STARTED</td>
                    {{/if}}
                    {{#if (isdefined this.status "In Progress")}}
                        <td bgcolor="#7EC8E3" style="color:black; font-weight:bold">IN PROGRESS</td>
                    {{/if}}
                    {{#if (isdefined this.status "Pending Material")}}
                        <td bgcolor="#FFC55C" style="color:black; font-weight:bold">PENDING MATERIAL</td>
                    {{/if}}
                    {{#if (isdefined this.status "Completed")}}
                        <td bgcolor="#8AFF8A" style="color:black; font-weight:bold">COMPLETED</td>
                    {{/if}}
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
