<form action="/" method="GET" id="displayMainForm">
<div class="col-md-12">
    {{!-- Action Buttons --}}
    <div class="header-action-buttons pull-right">
        <button class="btn btn-primary" id="materialReques-update" disabled="" onclick='setAction(event, "update", "{{existingMain.req}}")'><i class="fas fa-edit"></i>Update</button>
        <button class="btn btn-success" id="confirmUpdate" onclick='setAction(event, "complete", "{{existingMain.req}}")' data-confirm="Confirm This Job is Completed?"><i class="fas fa-check"></i>Complete</button>
        {{#if user.admin}}
        <a href="/vehicles/delete/{{existingVehicle.plate}}/{{existingVehicle.chassis}}" role="button" class="btn btn-danger delete" id="delete" class="delete" data-confirm="Are you sure to delete {{existingVehicle.brand}} {{existingVehicle.model}} With Plate # {{existingVehicle.plate}}?"><i class="fas fa-trash" aria-hidden="true"></i> Delete</a>
       
        {{/if}}
        {{#if showPii}}
        <a href="/users/update/{{existingUser._id}}" role="button" class="btn btn-outline-dark" id="update"><i class="far fa-edit" aria-hidden="true"></i> Update</a>
        {{/if}}
    </div>
    <body onload="setTable('material');">
        <div class="section-wrapper">
            <div class="section-title">
                <div class="row">
                    <div class="col">
                        <h4><i class="fas fa-tools"></i>&nbsp;Job Details</h4>
                    </div>
                    <div class="col"  style="font-weight:bold;">
                        <div class="row">
                            <h4>Status:&nbsp; </h4> <input type="text" id="jobStatus" value="{{existingMain.status}}" hidden>
                            {{#if (isdefined existingMain.status "NOT STARTED")}}
                                <h4 style="color:red; font-weight:bold">&nbsp;NOT STARTED</h4>
                                {{/if}}
                            {{#if (isdefined existingMain.status "IN PROGRESS")}}
                                <h4 style="color:#0000FF; font-weight:bold">&nbsp;IN PROGRESS</h4>
                            {{/if}}
                            {{#if (isdefined existingMain.status "PENDING MATERIAL")}}
                                <h4 style="color:#980DFF; font-weight:bold">&nbsp;PENDING MATERIAL</h4>
                            {{/if}}
                            {{#if (isdefined existingMain.status "COMPLETED")}}
                                <h4 style="color:#00D100; font-weight:bold">&nbsp;COMPLETED</h4>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <hr class="my-3">
            </div>
            <div class="section-content">
                <div class = "form-row">
                    <div class="form-group col display-main">
                         <button class="btn btn-outline-primary btn-sm" id="materialReques-vehicle" onclick='setAction(event, "vehicle", "{{existingMain.plate}}")'><i class="fas fa-edit"></i>View Vehicle</button>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col display-main">
                        <label for="dateCreated">Date Created</label>
                        <input type="text" class="form-control" name="dateCreated" brand="dateCreated" value="{{existingMain.createdAt}}" readonly>
                    </div>
                    <div class="form-group col display-main">
                        <label for="dateCreated">Material Request #</label>
                        <input type="text" class="form-control" id="materialRequest" name="materialRequest" brand="materialRequest" disabled="" value = "{{materialRequest}}">
                    </div>
                    <div class="form-group col display-main">
                        <label for="division">Divison</label>
                        <input type="text" class="form-control" name="division" brand="division" value="{{existingMain.division}}" readonly>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col display-main">
                        <a href="/vehicles/display-vehicle/{{existingMain.plate}}"><label for="plate">Plate #</label></a>
                         <a href="/vehicles/display-vehicle/{{existingMain.plate}}"><input type="text" class="form-control" name="plate" brand="plate" value="{{existingMain.plate}}" readonly></a>
                    </div>
                    <div class="form-group col display-main">
                        <label for="category">Vehicle Category</label>
                        <input type="text" class="form-control" name="category" brand="category" value="{{existingMain.vehicle_data.category}}" readonly>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col display-main">
                        <label for="brand">Vehicle Brand</label>
                        <input type="text" class="form-control" name="brand" brand="brand" value="{{existingMain.vehicle_data.brand}}" readonly>
                    </div>
                    <div class="form-group col display-main">
                        <label for="model">Vehicle Model</label>
                        <input type="text" class="form-control" name="model" brand="model" value="{{existingMain.vehicle_data.model}}" readonly>
                    </div>
                    <div class="form-group col display-main">
                        <label for="year">Vehicle Year</label>
                        <input type="text" class="form-control" name="year" brand="year" value="{{existingMain.vehicle_data.year}}" readonly>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col display-main">
                        <label for="hourC">Cost Per Hour</label>
                         <input type="checkbox" class="btn-check" id="hour_cost-checkbox" autocomplete="off" onchange="unlockInput('hour_cost')">
                        <input type="text" class="form-control" name="hour_cost" id="hour_cost" disabled="" brand="hour_cost" value="{{existingMain.hour_cost}} AED">
                    </div>
                    <div class="form-group col display-main">
                        <label for="hourC">Hours of Work</label>
                        <input type="checkbox" class="btn-check" id="work_hour-checkbox" autocomplete="off" onchange="unlockInput('work_hour')">
                        <input type="text" class="form-control" name="work_hour" brand="work_hour" id="work_hour" disabled="" value="{{existingMain.work_hours}}">
                    </div>
                    <div class="form-group col display-main">
                        <label for="hourC">Total Labour Cost</label>
                        {{#if existingMain.hour_cost}}
                            {{#if existingMain.work_hours}}
                                <input type="text" class="form-control" name="total_work_hour" brand="total_work_hour" id="total_work_hour" disabled="" value="{{multiply existingMain.hour_cost existingMain.work_hours}} AED">
                            {{else}}
                                <input type="text" class="form-control" name="total_work_hour" brand="total_work_hour" id="total_work_hour" disabled="" value="0 AED">
                            {{/if}}
                        {{else}}
                            <input type="text" class="form-control" name="total_work_hour" brand="total_work_hour" id="total_work_hour" disabled="" value="0 AED">
                        {{/if}}
                       
                    </div>
                    <div class="form-group col display-main">
                        <label for="materialCost">Material Cost</label>
                        <input type="text" class="form-control" name="materialCost" brand="materialCost" value="{{existingMain.total_material_cost}} AED" readonly>
                    </div>
                    <div class="form-group col display-main">
                        <label for="totalCost">Total Cost</label>
                        <input type="text" class="form-control" name="totalCost" brand="totalCost" value="{{existingMain.total_cost}} AED" readonly>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col display-main">
                        <label for="discription">Maintenance Description</label>
                        <input type="checkbox" class="btn-check" id="discription-checkbox" autocomplete="off" onchange="unlockInput('discription')">
                        <textarea type="text" class="form-control" id="discription" name="discription" brand="discription" disabled="" value="{{existingMain.discription}}">{{formatDisctiption existingMain.discription}}</textarea>
                    </div>
                    <div class="form-group col display-main">
                        <label for="remark">Remarks/Maintenance That Has Been Done</label>
                        <input type="checkbox" class="btn-check" id="remark-checkbox" autocomplete="off" onchange="unlockInput('remark')">
                        <textarea type="text" class="form-control" id="remark" name="remark" brand="remark" disabled="" value="{{existingMain.remarks}}">{{existingMain.remarks}}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-wrapper">
            <div class="section-title">
                <div class="row">
                    <h4 class="col" style="font-weight:bold" onclick="setTable('material')"><a onmouseover="style='cursor:pointer; color:#2779F6'" onmouseout="style='color:black'"><i class="fas fa-gas-pump"></i>Materials Used</a></h4>  
                    <h4 class="col" style="font-weight:bold" onclick="setTable('materialRequest')"><a onmouseover="style='cursor:pointer; color:#2779F6'" onmouseout="style='color:black'"><i class="fas fa-users"></i>Material Requests</a>{{#unless (isdefined pendingItems "0")}}<a>: Waiting For </a><a style="color:red;">{{pendingItems}}</a> <a> Items</a>{{/unless}}</h4>  
                </div>
                <hr class="my-3">
            </div>
            <div class="section-content" id="tableSection">
            </div>
        </div>
    </body>
</div>
</form>

<script>
    function setTable(tableName){
        document.getElementById("tableSection").innerHTML = "";
        if(tableName === "material"){
            document.getElementById("tableSection").insertAdjacentHTML("afterbegin", `{{>mainMaterialTable}}`);

        }else if(tableName === "materialRequest"){
            document.getElementById("tableSection").insertAdjacentHTML("afterbegin", `{{>mainMaterialRequestTable}}`);

        }
        
    }

    function changeColor(elementId){
        document.getElementById(elementId).style = "color:blue";
    }
   
   function multiplyTable(x, y){
       return x*y;
   }
    function test(tableName){
        // Get the modal
        var modal = document.getElementById("myModal");
        var mContent = document.getElementById("mContent")
        // Get the button that opens the modal
        var btn = document.getElementById("create-new");
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        // When the user clicks on the button, open the modal
        modal.style.display = "block";
        if(tableName === "consumable"){
            mContent.insertAdjacentHTML("beforeend",`{{>mainConsumables}}`);
        }else if(tableName === "request"){
            mContent.insertAdjacentHTML("beforeend",`{{>mainMaterialRequest}}`);
        }
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
            mContent.innerHTML='';
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
                mContent.innerHTML='';
            }
        }
    }

    function changeToNull(){
        document.getElementById("category").value = "";
    }
    function setPage(){
        var category = document.getElementById("category");
        var stock = document.getElementById("stock");
        var requestNumber = document.getElementById("materialRequest")
        document.getElementById("addSection").innerHTML = '';
        document.getElementById("eOrNSelect").innerHTML ='';
        console.log(category);
        if(category.value === "battery"){
            document.getElementById("addSection").insertAdjacentHTML("afterbegin",`{{>jobBatteries}}`);

        }else if(category.value === "brake"){
            document.getElementById("addSection").insertAdjacentHTML("afterbegin",`{{>jobBrakes}}`);

        }else if(category.value === "filter"){
            document.getElementById("addSection").insertAdjacentHTML("afterbegin",`{{>jobFilters}}`);

        }else if(category.value === "grease"){
            document.getElementById("addSection").insertAdjacentHTML("afterbegin",`{{>jobGrease}}`);

        }else if(category.value === "oil"){
            document.getElementById("addSection").insertAdjacentHTML("afterbegin",`{{>jobOil}}`);
            
        }else if(category.value === "other"){
            document.getElementById("addSection").insertAdjacentHTML("afterbegin", `{{>addOther}}`);
            document.getElementById("eOrNSelect").insertAdjacentHTML("beforeend", `<label for="eOrN"> Existing/New </label> <select type="text" id="eOrN" name="eOrN" class="form-control" onChange='fromStockOrNew()'> <option value="new"> New </option><option value="existing"> Existing </option> </select>`);
           
            
        }
        
    }

    function fromStockOrNew(){
        document.getElementById("addSection").innerHTML = '';
        if(document.getElementById("eOrN").value === "existing"){
            document.getElementById("addSection").insertAdjacentHTML("afterbegin",`{{>jobOthers}}`);
        }else if(document.getElementById("eOrN").value === "new"){
            document.getElementById("addSection").insertAdjacentHTML("afterbegin", `{{>addOther}}`);
        }
    }
    function unlockInput(selectedInput){
        console.log(document.getElementById("displayMainForm").action);
        if(document.getElementById(`${selectedInput}-checkbox`).checked){
            document.getElementById(`${selectedInput}`).removeAttribute("disabled");
            document.getElementById("materialReques-update").removeAttribute("disabled");
            if(selectedInput === "hour_cost"){
                document.getElementById(`${selectedInput}`).value =  document.getElementById(`${selectedInput}`).value.replace('AED', '');
            }
        }else{
            document.getElementById(`${selectedInput}`).setAttribute("disabled", "true");
            document.getElementById("materialReques-update").setAttribute("disabled", "true");
            if(selectedInput === "hour_cost"){
                document.getElementById(`${selectedInput}`).value =  `${document.getElementById(`${selectedInput}`).value} AED`;
            }
        }
        
    }


    function setItems(){
        
        document.getElementById("numberOfItems").innerHTML = '';
        document.getElementById("startSpot").innerHTML = `<hr class="my-3"><div id="addItemsSection-0" class="form-row"></div>`
        var addButton = true;
        var count = 0;
            for(var i=0; i < document.getElementById("numberOfItems").value; i++){
                if(i % 2 === 0){
                    count = i;
                    console.log(count);
                    document.getElementById("startSpot").insertAdjacentHTML("beforeend",`<div id="addItemsSection-${count}" class="form-row"></div>`);
                }
                console.log(count);
                document.getElementById(`addItemsSection-${count}`).insertAdjacentHTML("beforeend", `<div class="form-group col required" style=""><p>item ${i+1}<p> {{>addMaterialRequest}}<div>`);

            }
            if(addButton){
            document.getElementById("startSpot").insertAdjacentHTML("beforeend",`<button class="btn btn-success" id="addMaterialRequest" onclick='setAction(event, "material", "{{existingMain.req}}")' style="float: right;" justfiy-content-end ><i class="fas fa-plus-circle"></i>Add</button>`);
            addButton = false;
        }
        }


    function setAction(event, buttonAction, reqNumber){
        console.log("----------------------------------------")
        if(buttonAction === "update"){
            document.getElementById("displayMainForm").action = `/maintanence/update/material_request/${reqNumber}`
            document.getElementById("displayMainForm").method = `POST`
        }else if(buttonAction === "complete"){
            var remarks, workHours, costPerHour, stauts;
            var rbool = false;
            var wbool = false;
            var cbool = false;
            var sbool = false;
            var rout ="";
            var wout="";
            var cout="";
            var sout="";
            remarks=document.getElementById("remark").value;
            workHours = document.getElementById("work_hour").value;
            costPerHour = document.getElementById("hour_cost").value;
            status = document.getElementById("jobStatus").value;
            if(remarks === ""){
                rbool = true;
                rout = "- Input Remarks\n"
            }
                if(workHours === "" ||  workHours === "0" ){
                    wbool = true;
                    wout = "- Input Work Hours\n";
                }
                    if(costPerHour === " AED" || costPerHour === "0 AED"){
                        cbool = true;
                        cout = "- Input LabourCost Pet Hour\n";
                    }
                        if( status === "PENDING MATERIAL"){
                            sbool = true;
                            sout = "- Waitng For Materials (Send Reminder to Purchasing Department)\n";
                        }

                    
                
            

            if(rbool || wbool || cbool || sbool){

                event.preventDefault();
                var outputAlert = `${rout}${wout}${cout}${sout}`
                alert(`Please Fill All Necessary Information\n${outputAlert}\nOR WISSAM WILL KILL YOU!!!!!`);
               
            }else{
            if(confirm("Confirm This Job is Completed?")){
                document.getElementById("displayMainForm").action = `/maintanence/update/${reqNumber}`
                document.getElementById("displayMainForm").method = `POST`
                document.getElementById("displayMainForm").submit();
            }else{
                event.preventDefault();
                document.getElementById("displayMainForm").method = `GET`
                
            }
            }
            
        }else if(buttonAction === "vehicle"){
            event.preventDefault();
            document.getElementById("displayMainForm").action = `/vehicles/display-vehicle/${reqNumber}`
            document.getElementById("displayMainForm").method = `GET`
            document.getElementById("displayMainForm").submit();
        
        }else if(buttonAction === "consumables"){
            event.preventDefault();
            var category = document.getElementById("category").value;
            
            document.getElementById("displayMainForm").action = `/maintanence/update/material_request/add_consumables/${reqNumber}/${category}`
            document.getElementById("displayMainForm").method = `POST`
            document.getElementById("displayMainForm").submit();
        }else if(buttonAction === "material"){
            event.preventDefault();
            document.getElementById("displayMainForm").action = `/maintanence/update/material_request/add_material/${reqNumber}`
            document.getElementById("displayMainForm").method = `POST`
            document.getElementById("displayMainForm").submit();
        }
    }

    function openPdf(category, quotationNum){
        if(quotationNum !== "N/A"){
            window.open(`/consumables/${category}/view/${quotationNum}`)
        }

    }

    

</script>