<div class="col-md-12">
    <div class="table-buttons" id="table-buttons">
        <a href="/consumables/add" role="button" class="btn btn-outline-dark" id="create-new"><i class="fas fa-plus"></i>  Add New Consumables</a>
    </div>
</div>
{{!-- Displays all users --}}
<div class="col-md-12">
    <table id="filterable-table" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Category</th>
                <th scope="col">Total Quantity</th>
                <th scope="col">View All</th>
            </tr>
        </thead>
        <tbody>
            {{#each consumables}}
                <tr>
                    <td><a href="/consumables/{{lowerCase this.category}}"> {{counter @index}}</a></td>
                    <td><a href="/consumables/{{lowerCase this.category}}">{{this.category}}</a></td>
                    <td><a href="/consumables/{{lowerCase this.category}}">{{this.quantity}} (
                            {{#if (isdefined "Battery" this.category)}}
                                Pieces
                            {{else}}
                                {{#if (isdefined "Brake" this.category)}}
                                    Boxes
                                {{else}}
                                    {{#if (isdefined "Filter" this.category)}}
                                        Pieces
                                    {{else}}
                                        {{#if (isdefined "Oil" this.category)}}
                                            Liters
                                        {{else}}
                                            {{#if (isdefined "Grease" this.category)}}
                                                Liters
                                            {{else}}
                                                Pieces
                                            {{/if}}
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                    )
                        </a></td>
                    <td class = "table-actions">
                        <a href="/users/update/{{this._id}}" id="updateUser-{{this._id}}"><i class="far fa-edit"></i> Update </a>
                        <a href="/users/delete/{{this._id}}" id="deleteUserId-{{this._id}}" class="delete" data-confirm="Are you sure to delete {{this.firstName}} {{this.lastName}}?"><i class="fas fa-trash"></i> Delete</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script>
    function isOil(oil){
        if(oil == "Oil"){
            return true;
        }
    }
</script>