<div class="col-md-12">
    {{!-- Action Buttons --}}
    <div class="header-action-buttons pull-right">
        {{#if user.admin}}
        <a href="/vehicles/delete/{{existingVehicle.plate}}/{{existingVehicle.chassis}}" role="button" class="btn btn-danger delete" id="delete" class="delete" data-confirm="Are you sure to delete {{existingVehicle.brand}} {{existingVehicle.model}} With Plate # {{existingVehicle.plate}}?"><i class="fas fa-trash" aria-hidden="true"></i> Delete</a>
        {{/if}}
        {{#if showPii}}
        <a href="/users/update/{{existingUser._id}}" role="button" class="btn btn-outline-dark" id="update"><i class="far fa-edit" aria-hidden="true"></i> Update</a>
        {{/if}}
    </div>

    {{!-- User Information --}}
    <div class="section-wrapper">
        <div class="section-title">
            <h4><i class="fas fa-store"></i> Supplier Information</h4>
            <hr class="my-3">
        </div>
        <div class="section-content">
            <div class="form-row">
                <div class="form-group col-md-6 display-user">
                    <label for="Phone #">Phone #</label>
                    <input type="text" class="form-control" name="phone" id="phone" value="{{existingSupplier.phone}}" readonly>
                </div>
                 <div class="form-group col-md-6 display-user">
                    <label for="Phone #">Email</label>
                    <input type="text" class="form-control" name="email" id="email" value="{{existingSupplier.email}}" readonly>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="form-row">
                <div class="form-group col-md-6 display-user">
                    <label for="cartegory">Vehicle Category</label>
                    <input type="text" class="form-control" name="category" id ="category" value="{{existingSupplier.category}}" readonly>
                </div>
                <div class="form-group col-md-6 display-user">
                    <label for="brand">Vehicle Brand</label>
                    <input type="text" class="form-control" name="brand" id ="brand" value="{{existingSupplier.brand}}" readonly>
                </div>
            </div>
        </div>
    </div>

    {{!-- Courses --}}
    <div class="section-wrapper">
        <div class="section-title">
            <h4><i class="fas fa-cogs"></i>Materials in Stock</h4>
            <hr class="my-3">
        </div>
        <div class="section-content">
            <table id="filterable-table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Category</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Single Cost</th>
                        <th scope="col">Total Cost</th>
                        <th scope="col">Quotation Number</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each consumables}}
                        <tr>
                            <td><a href="/consumables/{{lowerCase this.category}}/1"> {{counter @index}}</a></td>
                            <td><a href="/consumables/{{lowerCase this.category}}/{{this.supplierId}}">{{this.category}}</a></td>
                            <td><a href="/consumables/{{lowerCase this.category}}/{{this.supplierId}}">{{this.quantity}} (
                                {{#if (isdefined "Oil" this.category)}}
                                    Liters
                                    {{else}}
                                        {{#if (isdefined "Grease" this.category)}}
                                            Liters
                                        {{else}}
                                            Pieces
                                        {{/if}}
                                {{/if}}
                            )
                            </a></td>
                            <td><a>{{this.singleCost}}</a></td>
                            <td><a>{{this.totalCost}}</a></td>
                            <td><a>{{this.quotationNum}}</a></td>
                            <td class = "table-actions">
                                {{#if (isdefined "N/A" this.quotationNum)}}
                                    <a href="/suppliers/unavailable" style="padding-right: 25px;"><i class="fas fa-download"></i>Downlaod</a>
                                {{else}}
                                    <a href="/consumables/{{this.category}}/download/{{this.quotationNum}}"  style="padding-right: 25px;"><i class="fas fa-download"></i>Downlaod</a>
                                {{/if}}
                                {{#if (isdefined "N/A" this.quotationNum)}}
                                    <a href="/suppliers/unavailable"><i class="fas fa-external-link-alt"></i>View</a>
                                {{else}}
                                    <a href="" onclick="openPdf('{{this.category}}', '{{this.quotationNum}}')"><i class="fas fa-external-link-alt"></i>View</a>
                                {{/if}}
                                
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function assignIcon(type){
        if(type.includes("PICKUP")){
            return "fas fa-truck-pickup"
        }
        console.log("In here");
    }
    function openPdf(category, quotationNum){
        if(quotationNum !== "N/A"){
            window.open(`/consumables/${category}/view/${quotationNum}`)
        }

    }
</script>
